@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Roboto", sans-serif;
}

section{
    padding-top: 100px;
    padding-bottom: 50px;
}

/* hero */
.hero .col img{
    width: 550px;
}

.hero .col p{
    width: 500px;
} 

@media (max-width: 992px) {
    #hero{
        padding-top: 50px;
    }

    .hero .col img{
        width: 300px;
    }

    .hero .col p{
        width: 100%;
        font-size: 14px;
    }
}

@media (max-width: 1024px){
    .hero .col img{
        width: 500px;
    }

    .hero .col p{
        width: 300px;
        font-size: 14px;
    }
}

@media (max-width: 1025px) and (max-width: 1199px){
    .hero .col img{
        width: 300px;
    }
}

/* about */

.about .col img{
    width: 500px;
    border: 5px solid #000;
    border-radius: 10px;
}

@media (max-width: 992px) {
    #about{
        padding-top: 50px;
    }

    .about .col img{
        width: 300px;
    }

    .about .col p{
        width: 100%;
        font-size: 14px;
    }
}

footer{
    margin-top:200px;
    padding-bottom: 20px;
}

.footer-link {
    opacity: 75%;
}

.footer-link:hover {
    opacity:100%
}